{% extends "layout.html" %}
{% block styles %}
  <link rel="stylesheet" href="/styles/create-point.css">
  <link rel="stylesheet" href="styles/modal.css">
{% endblock styles %}

{% block title %}
  <title>Ecoleta - Cadastro de Ponto de Coleta</title>
{% endblock title %}

{% set bodyId = create-point %}
{% block content %} 
  <div id="create-point">
    {% include "partials/header.html" %}

    <form action="/save-point" method="POST"> 
      <h1>Cadastro de ponto de coleta</h1>
      <fieldset>
        <legend>
          <h2>Dados do coletor</h2>
        </legend>
        <div class="field-group">
          <div class="field">
            <label for="name">Nome da entidade</label>
            <input type="text" name="name" required placeholder="Nome">
          </div>
          <div class="field">
            <label for="image">Imagem (link)</label>
            <input type="url" name="image" required placeholder="http://">
          </div>
        </div>
        <div class="field-group">
          <div class="field">
            <label for="address">Endereço</label>
            <input type="text" name="address" required placeholder="Rua, Av., Alameda, Travessia, ...">
          </div>
          <div class="field">
            <label for="address2">Complemento e Número</label>
            <input type="text" name="address2" required placeholder="Casa nº, Ap. nº, Bloco, ...">
          </div>
        </div>
        <div class="field-group">
          <div class="field">
            <label for="state">Estado</label>
            <select name="state" id="selectUF" required>
              <option value="">Selecione o estado</option>
            </select>
          </div>
          <div class="field">
            <label for="city">Cidade</label>
            <select name="city" id="selectCity" disabled required>
              <option value="">Selecione a cidade</option>
            </select>
          </div>
        </div>
        
      </fieldset>
      
      <fieldset id="itens">
        <legend>
          <h2>Itens de coleta</h2>
          <span>Selecione um ou mais itens</span>
        </legend>
        <div class="itens-grid">
          <li class="list-item" data-id="Lâmpadas">
            <img src="./assets/lampadas.svg" alt="Lâmpadas">
            <span>Lâmpadas</span>
          </li>
          <li class="list-item" data-id="Pilhas e Baterias">
            <img src="./assets/baterias.svg" alt="Pilhas e Baterias">
            <span>Pilhas e Baterias</span>
          </li>
          <li class="list-item" data-id="Papéis e Papelão">
            <img src="./assets/papeis-papelao.svg" alt="Papéis e Papelão">
            <span>Papéis e Papelão</span>
          </li>
          <li class="list-item" data-id="Resíduos Eletrônicos">
            <img src="./assets/eletronicos.svg" alt="Resíduos Eletrônicos">
            <span>Resíduos Eletrônicos</span>
          </li>
          <li class="list-item" data-id="Resíduos Orgânicos">
            <img src="./assets/organicos.svg" alt="Resíduos Orgânicos">
            <span>Resíduos Orgânicos</span>
          </li>
          <li class="list-item" data-id="Oléo de Cozinha">
            <img src="./assets/oleo.svg" alt="Oléo de Cozinha">
            <span>Oléo de Cozinha</span>
          </li>
        </div>

        <input type="hidden" name="items">
      </fieldset>
      
      <div class="button-align">
        <button type="submit">Cadastrar</button>
      </div>
    </form>
  </div>
  {% if saved %}
    {% include "partials/modal2.html" %}
  {% endif %}
{% endblock content %}
  

{% block script %} 
  <script src="/scripts/create-point.js"></script>
{% endblock script %}
