{% extends "layout.html" %}
  
{% block styles %}
  <link rel="stylesheet" href="/styles/home.css">
  <link rel="stylesheet" href="styles/modal.css">
{% endblock styles %}

{% block title %}
  <title>Ecoleta - Seu marketplace de coleta de resíduos</title>
{% endblock title %}

{% set bodyId = homepage %}
{% block content %} 
  <div id="homepage">
    <header>
      <img src="/assets/logo.svg" alt="Logotipo Ecoleta" class="logo">
      <a href="./create-point" class="signIn">
        <img src="/assets/log-in.svg" alt="Log-In Icon">
        <h3>Cadastre um ponto de coleta</h3>
      </a>
    </header>
    <main>
      <h1 class="mainText">Seu marketplace de coleta de resíduos</h1>
      <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p>
      <a href="#" class="searchButton">
        <span></span>
        Pesquisar pontos de coleta
      </a>
    </main>
  </div>  
{% endblock content %}
  
  <!-- PopUp Window -- NUNJUCKS TEMPLATE ENGINE-->
{% block modal %} 
  {% include "partials/modal.html" %}
{% endblock modal %}
{% block script %} 
  <script src="./scripts/index.js"></script>
{% endblock script %}